<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>$header$ - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/">$header$</a>
            </div>
            <nav>
                <a href="/">Intro</a>
                <a href="/research.html">Research</a>
                <a href="/teaching.html">Teaching</a>
                <a href="/programming.html">Programming</a>
                <a href="/industry.html">Industry</a>
                <a href="/contact.html">Contact</a>
            </nav>
        </header>

        <main role="main">
            <h1>$title$</h1>
            $body$
        </main>

        <footer>
            Last updated $date$<br/>
            Built with
            <a href="http://jaspervdj.be/hakyll">Hakyll</a>
        </footer>
    </body>
</html>
