<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>$header$ - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/">$header$</a>
            </div>
            <nav>
                <a href="/">Intro</a>
                <a href="/research.html">Research</a>
                <a href="/teaching.html">Teaching</a>
                <a href="/programming.html">Programming</a>
                <a href="/industry.html">Industry</a>
                <a href="/education.html">Education</a>
            </nav>
            <div class="contact">
              <div class="i">
                <img src="images/email.png" alt="e-mail" height="15em">
                <a href="mailto:oleks@oleks.info">oleks@oleks.info</a>
              </div>
              <div class="i">
                <img src="images/github.png" alt="github" height="15em">
                <a href="https://github.com/oleks" target="_blank">oleks</a>
              </div>
              <div class="i">
                <img src="images/linkedin.png" alt="linkedin" height="15em">
                <a href="https://linkedin.com/in/oleksss" target="_blank">oleksss</a>
              </div>
            </div>
        </header>

        <main role="main">
            <h1>$title$</h1>
            $body$
        </main>

        <footer>
            Last updated $date$<br/>
            Built with
            <a href="http://jaspervdj.be/hakyll">Hakyll</a>
        </footer>
    </body>
</html>
